*.txt
ALLWISE.fits
1CGH_Preliminary_V2.0.fits
2FHL.fits
3FHL.fits
4FGL*
4LAC-DR3.fits
TeVCAT_HBLs.csv
1whsp.fits
2whsp.fits
3HSP.fits
bzcat.fits
C20.txt
dabruscot3.fits
dabruscot5.fits
L25.txt
Marchesi_Xray_Bl_AA_25.fits
massaro_selections.fits
FIRST.fits
NVSS.fits
SUMSS.fits
eRASS1_Main.v1.1.fits
massaro*